:root {
    --fill-start: #4e0000;
    --fill-end: #888888;
    --player-health: #43d300;
    --test: #ceab13;
}

body {
    background-color: #373442;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;    
}  

ul {
    list-style-type: none;
    padding: 0;
    color: #ffffff;
}

#skg {
    width: 700px;
    margin: auto;

}

.toptext {
    text-align: center;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.player {
    width: 70%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.enemies {
    width: 20%;
    border: 1px solid #800101;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.job-container {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
}
 
.job-active {
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #1daf00;
    background-color: #43b32d;
}

.job-info-container {
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #524a38;
    background-color: #9baa91;
}
.skill-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
 }

.skill-info-container {
    margin: auto;
    width: 20%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid var(--fill-start);
    background-color: var(--fill-end);
}

.skill-info-container:disabled {
    cursor: default;
    background-color: #7e7e92;
}


.divbreak {
    flex-basis: 100%;
    height: 10px;    
}


.adventurer-health-shell {
    width: 100%;
    height: 20px;
    background: #54515e;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.adventurer-health-progress-inner {
    height: 100%;
    background:  var(--player-health);
    border-radius: 10px;
    overflow: hidden;
}

.adventurer-cast-shell {
    width: 100%;
    height: 20px;
    background: #54515e;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.adventurer-cast-progress-inner {
    height: 100%;
    background-image: linear-gradient(to right, var(--fill-start), var(--fill-end));
    border-radius: 10px;
    overflow: hidden;
}

.enemy-health-shell {
    width: 100%;
    height: 20px;
    background: #54515e;
    position: relative;
    overflow: hidden;
    border-radius: 10px;   
}

.enemy-health-progress-inner{
    height: 100%;
    background:  #800101;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}