:root {
    --fill-start: #4e0000;
    --fill-end: #888888;
    --player-health: #3bb403;
    --test: #ceab13;
}

body {
    background-color: #373442;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;    
}  

button {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

#skg {
    width: 900px;
    min-width: 750px;
    margin: auto;

}

.toptext {
    text-align: center;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.adventurer-container {
    width: 45%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.enemies-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #800101;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.message-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    border: 1px solid #dad5ad;
    border-radius: 10px;
    padding: 10px;
}

.job-container {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
}
 
.job-active {
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #1daf00;
    background-color: #43b32d;
}

.job-info-container {
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #524a38;
    background-color: #9baa91;
}
.skill-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
 }

.skill-info-container {
    margin: auto;
    height: 80;
    width: 20%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid var(--fill-start);
    background-color: var(--fill-end);
}

.skill-info-container:disabled {
    cursor: default;
    background-color: #7e7e92;
}

.divbreak {
    flex-basis: 100%;
    height: 10px;    
}

.progress-bar-shell {
    width: 100%;
    height: 20px;
    background: #54515e;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.adventurer-health-progress-inner {
    height: 100%;
    background:  var(--player-health);
    border-radius: 10px;
    overflow: hidden;
}

.adventurer-cast-progress-inner {
    height: 100%;
    background-image: linear-gradient(to right, var(--fill-start), var(--fill-end));
    border-radius: 10px;
    overflow: hidden;
}

.enemy-health-progress-inner{
    height: 100%;
    background:  #800101;
    border-radius: 10px;
    overflow: hidden;
}

.enemy-cast-progress-inner {
    height: 100%;
    background: linear-gradient(to right, #800101, #9e0202);
    border-radius: 10px;
    overflow: hidden;
}

.enemy-bars {
    position: relative;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-updates {
    position: relative;
    text-align: left;
    margin-left: -10%;
    height: 90%;
    overflow: hidden;
}

li {
    list-style: none;
}

.adventurer-combat-update{
    color: #91cf3f;
}

.enemy-combat-update {
    color: #cf3f3f;
}

.game-update {
    color: #b9a755;
}

.areaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}