body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#skg {
    width: 700px;
    margin: auto;
}

.toptext {
    text-align: center;
}

.job-container {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
}
 
.job-active {
    width: 125px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #1daf00;
}

.job-info-container {
    width: 125px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #555555;
}
.skill-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
 }

.skill-info-container {
    margin: auto;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cf0000;
}

.divbreak {
    flex-basis: 100%;
    height: 10px;    
}

.progress-shell {
    width: 100%;
    height: 20px;
    background: rgb(212, 212, 212);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.progress-inner {
    height: 100%;
    background-image: linear-gradient(to right, #CA0012, #FF2100);
    border-radius: 10px;
    overflow: hidden;
}

.progress-shell span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}