<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">        
        
        <link rel="stylesheet" href="css/styles.css">
        <title>SKG</title>
    </head>

    <body>
        <div id="skg">
            <div class="toptext">
                <h2>Skill Grinder</h3>
                <h3>grind skills to grind different skills</h3>
            </div>
            <div class="main-container">
                <div class="player">
                    <div class="job-container">
                        <template v-for="(starterjob, jobindex) in starterJobs" :key="jobindex">  
                            <button :class="[starterjob.name, starterjob.active ? 'job-active':'job-info-container']" :id="starterjob.name" @click="setJob(jobindex)">
                                    <div style="font-weight: bold">{{ starterjob.name }}</div>
                                    <div>Level: {{ starterjob.level }}</div>
                                    <div>Rank: {{ starterjob.rank }}</div>
                                    <div>XP: {{starterjob.experience}} / {{starterjob.nextLevel}}</div>
                            </button>
                        </template>
                        <div class="divbreak"></div>
                        <template v-for="(midjob, jobindex) in midJobs" :key="jobindex">  
                                <div>{{ midJob.name }}</div>
                                <div>Level: {{ midJob.level }}</div>
                                <div>Rank: {{ midJob.rank }}</div>
                        </template>
                    </div>
                    <div class="skill-container">
                        <template v-for="(abilities, spellId) in activeJob.abilities" :key="spellId">
                            <button :class="[abilities.name, 'skill-info-container']" :id="abilities.name" :disabled=!abilities.unlocked @click="setActiveSkill(spellId)">
                                    <div>{{ abilities.name }}</div>
                                    <div>Level: {{abilities.level}}</div>
                                    <div>Rank: {{abilities.rank}}</div>
                                    <div>XP: {{abilities.experience}} / {{abilities.nextLevel}}</div>
                            </button>
                        </template>
                        <div class="divbreak"></div>
                        <div class="progress-bar-shell">
                            <div class="adventurer-health-progress-inner" :style="{'width': ((adventurer.health / adventurer.maxHealth)*100) + '%'}">
                                <span class="progress-bar-text">{{adventurer.health.toFixed(0)}} / {{adventurer.maxHealth}}</span>
                            </div>
                        </div>
                        <div class="divbreak"></div>
                        <div :class="[currentJob.name, currentSkill.name, 'progress-bar-shell']">
                            <div :class="[currentJob.name, currentSkill.name, currentSkill.active ? 'adventurer-cast-progress-inner':'']" :style="{'width': adventurerCastPercentage + '%'}">
                                <span class="progress-bar-text">{{adventurer.castProgress.toFixed(1)}} / {{currentSkill.castTime}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enemies">
                    <div class="areaInfo">
                        <div class="prevLvl"><button>Prev</button></div>
                        <div class="currentLvl"></div>
                        <div class="nextLvl"><button>Next</button></div>
                    </div>
                    <div>Total enemy kills: {{enemy.killedCount}}</div>
                        <div><h4>{{currentEnemy.name}}</h4></div>
                        <div>Level: {{currentEnemy.level}}</div>
                        <div>Rank: {{currentEnemy.rank}}</div>
                        <div>Total {{currentEnemy.name}} kills: {{currentEnemy.killedCount}}</div>
                    <div class="divbreak"></div>
                    <div class="enemy-bars">
                        <div class="enemyskill" v-if="enemy.castProgress>0">{{currentEnemySkill.name}}</div>
                        <div class="divbreak"></div>
                        <div class="progress-bar-shell">
                            <div :class="[currentEnemy.name, 'enemy-health-progress-inner']" :style="{'width': ((enemy.health/enemy.maxHealth)*100) + '%'}">
                                <span  class="progress-bar-text">{{enemy.health}} / {{enemy.maxHealth}}</span>
                            </div>
                        </div>
                        <div class="divbreak"></div>
                        <div :class="[currentEnemy.name, currentEnemySkill.name, 'progress-bar-shell']">
                            <div class="enemy-cast-progress-inner" :style="{'width': enemyCastPercentage + '%'}"></div>
                                <span class="progress-bar-text">{{enemy.castProgress.toFixed(1)}} / {{currentEnemySkill.castTime}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!--<script src="https://unpkg.com/vue@3"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="./js/updates.js"></script>
    <script src="./js/adventurer.js"></script>
    <script src="./js/enemies.js"></script>
    <script src="./js/main.js"></script>
</html>

