<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">        
        
        <link rel="stylesheet" href="css/styles.css">
        <title>SKG</title>
    </head>

    <body>
        <div id="skg">
            <div class="toptext">
                <h2>Skill Grinder</h3>
                <h3>grind skills to grind different skills</h3>
            </div>
            <div class="main-container">
                <div class="player">
                    <div class="job-container">
                        <template v-for="(starterjob, jobindex) in starterJobs" :key="jobindex">  
                            <button :class="[starterjob.name, starterjob.active ? 'job-active':'job-info-container']" :id="starterjob.name" @click="setJob(jobindex)">
                                <ul>
                                    <li>{{ starterjob.name }}</li>
                                    <li>Level: {{ starterjob.level }}</li>
                                    <li>Rank: {{ starterjob.rank }}</li>
                                </ul>
                            </button>
                        </template>
                        <div class="divbreak"></div>
                        <template v-for="(midjob, jobindex) in midJobs" :key="jobindex">  
                            <ul>
                                <li>{{ midJob.name }}</li>
                                <li>Level: {{ midJob.level }}</li>
                                <li>Rank: {{ midJob.rank }}</li>
                            </ul>
                        </template>
                    </div>
                    <div class="skill-container">
                        <template v-for="(abilities, spellId) in activeJob.abilities" :key="spellId">
                            <button :class="[abilities.name, 'skill-info-container']" :id="abilities.name" :disabled=!abilities.unlocked @click="setActiveSkill(spellId)">
                                <ul>
                                    <li>{{ abilities.name }}</li>
                                    <li>Level: {{abilities.level}}</li>
                                    <li>Rank: {{abilities.rank}}</li>
                                </ul>
                            </button>
                        </template>
                        <div class="divbreak"></div>
                        <div class="adventurer-health-shell">
                            <div class="adventurer-health-progress-inner" :style="{'width': ((adventurer.health / adventurer.maxHealth)*100) + '%'}">
                                <span class="progress-bar-text">{{adventurer.health}} / {{adventurer.maxHealth}}</span>
                            </div>
                        </div>
                        <div class="divbreak"></div>
                        <div :class="[currentJob.name, currentSkill.name, 'adventurer-cast-shell']">
                            <div :class="[currentJob.name, currentSkill.name, currentSkill.active ? 'adventurer-cast-progress-inner':'']" :style="{'width': adventurerCastPercentage + '%'}">
                                <span class="progress-bar-text">{{adventurer.castProgress}} / {{currentSkill.castTime}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enemies">
                    <h3>{{currentEnemy.name}}</h3>
                    <ul>
                        <li>Level: {{currentEnemy.level}}</li>
                        <li>Rank: {{currentEnemy.rank}}</li>
                    </ul>
                    <div class="divbreak"></div>
                    <div class="enemy-health-shell">
                        <div class="enemy-health-progress-inner">
                            <span  class="progress-bar-text">{{enemy.health}} / {{enemy.maxHealth}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/formulas.js"></script>
    <script src="./js/adventurer.js"></script>
    <script src="./js/enemies.js"></script>
    <script src="./js/main.js"></script>
</html>
